.head {
  background-attachment: ;
}
body {
  background-color: rgb(240, 230, 216);
  color: blue;
  font-family: "Yaldevi", sans-serif;
}
.main-header {
  color: black;
  text-align: center;
  font-size: xx-large;
}
.white-font {
  color: black;
  font-size: medium;
}
.beta {
  color: blueviolet;
  font-size: medium;
}
.betas {
  font-size: medium;
}
